/* Debugging-Stuff */

#vertical50line {
    position: fixed;
    height: 100%;
    border: 1px solid red;
    left: 50%;
    top: 0px;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}

.content {
    width: 100%;
    display: flex;
    justify-content: center;
}

#card_01 {
    background-color: #ffffff;
    color: #000000;
    margin-top: 100px;
    text-align: center;
    width: 300px;
    box-shadow: 2px 2px 15px #444444;
    border-radius: 10px 10px 10px 10px;
}

#title {
    position: relative;
    top: -15px;
    font-size: 28px;
    font-weight: 600;
}

#titleimage {
    background-image: url("https://chaos.social/system/accounts/headers/000/315/892/original/8e96b21ea07b7ea6.png");
    background-size: cover;
    width: 300px;
    height: 100px;
    border-radius: 10px 10px 10px 10px;
}

#titlepfp {
    background-image: url("https://chaos.social/system/accounts/avatars/000/315/892/original/ada5809b7990177a.png");
    background-size: cover;
    position: relative;
    top: -30px;
    left: 120px;
    width: 60px;
    height: 60px;
    border-radius: 30px 30px 30px 30px;
}

#card_02 {
    background-color: #ffffff;
    color: #000000;
    margin-top: 15px;
    width: 280px;
    box-shadow: 2px 2px 15px #444444;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
}

.smoltitle {
    font-size: 22px;
    font-weight: 500;
}

.centered {
    width: 100%;
    text-align: center;
}

.explanation { font-size: 12px; }
